<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Videos</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="logo">MemeTube</a>
      <ul id="nav-mobile" class="right">
        <li><a href="/videos/new">Add Video</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <%= yield %>
  </div>
</body>