body {
  background: -webkit-linear-gradient(hotpink, black);  For Safari 5.1 to 6.0
  background: -o-linear-gradient(hotpink, black);  For Opera 11.1 to 12.0
  background: -moz-linear-gradient(hotpink, black); For Firefox 3.6 to 15
  background: linear-gradient(hotpink, black); Standard syntax
}

.logo {
  font-family: Helvetica;
  font-size: 80px;
  margin-left: 20px;
  text-decoration: none;
  margin: 0 auto;
  cursor: pointer;
}

button.fake-link:hover {
  color: #ffd8a6; 
}

button.fake-link::-moz-focus-inner {
    border: none;
    padding: 0;
}

.nav-wrapper {
  display: block;
  background-color: #00CCFF;
}